<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--必要权限，解决安全风险漏洞，发送和注册广播事件需要调用带有传递权限的接口-->
    <permission
        android:name="${applicationId}.openadsdk.permission.TT_PANGOLIN"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.openadsdk.permission.TT_PANGOLIN" />

    <application>
        <!-- 开屏广告页面 -->
        <activity
            android:name=".view.FlutterGromoreSplash"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />

    </application>
</manifest>
